//@import '../../styles/_vars.scss';

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-title {
        .header-logo {
            display: flex;
            align-items: center;
            //justify-content: center;
        }
    }

    .header-info > * {
        display: flex;
        align-items: center;
    }

    .header-info {
        width: 70%;
        display: flex;
        justify-content: space-between;

        .header-form {
            .header-form-input {
                //background-color: $background-color;
            }
        }

        .account > * {
            display: flex;
            align-items: center;
        }

        .account {
            gap: 10%;

            .account-cart {
                position: relative;

                .cart-icon {
                    position: absolute;
                    left: 70%;
                }
            }
        }
    }
}