@import '../../styles/vars.scss';

.header-container {
    .header-title {
        .header-logo {
            display: flex;
            align-items: center;
            //justify-content: center;
        }
    }

    .header-info {
        .header-form {
            .header-form-input {
                background-color: $background-color;
            }
        }
    }
}